/* Webfont: ProximaNovaSoft-Semibold */@font-face {
    font-family: 'ProximaNovaSoftSb';
    src: url('PROXIMANOVASOFT-SEMIBOLD.eot'); /* IE9 Compat Modes */
    src: url('PROXIMANOVASOFT-SEMIBOLD.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('PROXIMANOVASOFT-SEMIBOLD.woff') format('woff'), /* Modern Browsers */
         url('PROXIMANOVASOFT-SEMIBOLD.ttf') format('truetype'), /* Safari, Android, iOS */
         url('PROXIMANOVASOFT-SEMIBOLD.svg#ProximaNovaSoft-Semibold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

