<footer class="footer">
  <div class="container text-center">
    <div class="footer-links d-flex flex-column flex-md-row justify-content-center">
      <div class="col-md-auto">
        <a target="_blank" href="{{config.policy}}">{{ 'FOOTER.POLICY' | translate }}</a>
        <a target="_blank" href="{{config.termsOfUse}}">{{ 'FOOTER.TERMSUSE' | translate }}</a>
        <span class="divider hidden-sm-down"></span>
      </div>
      
      <div class="col-md-auto">
        <a target="_blank" href="{{config.minimumRequirements}}">{{ 'FOOTER.MINIMUMREQUIREMENTS' | translate }}</a>
        <a target="_blank" href="{{config.platformStatus}}">{{ 'FOOTER.PLATFORMSTATUS' | translate }}</a>
      </div>
    </div>
    <div class="termsNcondition">
      <span>	
				{{ 'FOOTER.TERMNCONDITION' | translate }}
	    </span>
    </div>
  </div>
</footer>
