$green: #78ce5b;
$orange: #f8a81a;
$purple: #662d91;
$lightRed: #fe5f41;
$lightBlue: #23a4f8;
$white: #fff;
$font-black: #333;
$darkGrey: #4d4d4d;
$whiteGrey: #f7f7f7;
$darksilverGrey: #7d7d7d;
$darkGreen: #11003f;
$lightGrey: #ccc;
$lightbgGrey: #f2f2f2;
$lightWhiteGray: #e6e6e6;
$colorGray: #808080;
$drakGreenGray: #666;
$redGray: #999;
$drakRedGray: #606060;
$blue: #3566e6;
$lightYellowGreen: #54be39;
$darkRed: #d23031;
$lightWhite: #fafafa;
$black: #000;
$drakWhiteGray: #d6d6d6;
$drakGrayRed: #9a9a9a;
$silver: #c3c3c3;
$drakGreen: #010003;
$lightPinkBlue: #767191;
$lightYellowRed: #f8a81b;
$redOrange: #f9432b;
$lightGrayWhite: #efedef;
$lightGreen: #79cd5b;
$lightOrangeRed: #ff5e42;
$lightGreenBlue: #24a5f8;
$drakGreenYellow: #53be3a;
$darkOrangeRed: #fea30c;
$mediumSeaGreen: #39b54a;
$mediumYellowGreen: #8cc63f;
$darkGreenBlue: #009245;
$mediumRedOrange: #f44b2b;
$whitesPalette: #fcfcfc;
$midiumYellowGreen: #8dc63f;
$yellowGreenBlue: #0ea51d;
$darkTangerineOrange: #fea30b;
